@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  outline: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: allstars;
  src: url(/fonts/allstars.ttf);
}

.font-allstars {
  font-family: allstars;
}

@font-face {
  font-family: amore;
  src: url(/fonts/amore.ttf);
}

.font-amore {
  font-family: amore;
}

@font-face {
  font-family: andes;
  src: url(/fonts/andes.ttf);
}

.font-andes {
  font-family: andes;
}

@font-face {
  font-family: arabic;
  src: url(/fonts/arabic.ttf);
}

.font-arabic {
  font-family: arabic;
}

@font-face {
  font-family: arbat;
  src: url(/fonts/arbat.ttf);
}

.font-arbat {
  font-family: arbat;
}

@font-face {
  font-family: bnt;
  src: url(/fonts/bnt.ttf);
}

.font-bnt {
  font-family: bnt;
}

@font-face {
  font-family: captureit;
  src: url(/fonts/captureit.ttf);
}

.font-captureit {
  font-family: captureit;
}

@font-face {
  font-family: copyist;
  src: url(/fonts/copyist.ttf);
}

.font-copyist {
  font-family: copyist;
}

@font-face {
  font-family: corsiva;
  src: url(/fonts/corsiva.ttf);
}

.font-corsiva {
  font-family: corsiva;
}

@font-face {
  font-family: disney;
  src: url(/fonts/disney.ttf);
}

.font-disney {
  font-family: disney;
}

@font-face {
  font-family: ds-goose;
  src: url(/fonts/ds-goose.ttf);
}

.font-ds-goose {
  font-family: ds-goose;
}

@font-face {
  font-family: europebold;
  src: url(/fonts/europebold.ttf);
}

.font-europebold {
  font-family: europebold;
}

@font-face {
  font-family: flowerchild;
  src: url(/fonts/flowerchild.ttf);
}

.font-flowerchild {
  font-family: flowerchild;
}

@font-face {
  font-family: lobster;
  src: url(/fonts/lobster.ttf);
}

.font-lobster {
  font-family: lobster;
}

@font-face {
  font-family: mistral;
  src: url(/fonts/mistral.ttf);
}

.font-mistral {
  font-family: mistral;
}

@font-face {
  font-family: rain;
  src: url(/fonts/rain.ttf);
}

.font-rain {
  font-family: rain;
}

@font-face {
  font-family: rubik;
  src: url(/fonts/rubik.ttf);
}

.font-rubik {
  font-family: rubik;
}

@font-face {
  font-family: supernatural;
  src: url(/fonts/supernatural.ttf);
}

.font-supernatural {
  font-family: supernatural;
}

@font-face {
  font-family: superstar;
  src: url(/fonts/superstar.ttf);
}

.font-superstar {
  font-family: superstar;
}
