@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* FONTS */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url(/fonts/Roboto-ThinItalic.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Roboto-RegularItalic.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(/fonts/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(/fonts/Roboto-BlackItalic.ttf);
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/Inconsolata-ExtraLight.ttf);
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Inconsolata-Light.ttf);
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Inconsolata-Medium.ttf);
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Inconsolata-SemiBold.ttf);
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Inconsolata-Bold.ttf);
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/Inconsolata-ExtraBold.ttf);
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/Inconsolata-Black.ttf);
}

.font-inconsolata {
  font-family: "Inconsolata", monospace;
}
